.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  background-image: url('../../public/71d45f3f-ac95-405b-a76e-bbeafeac10af.jpeg');
  object-fit: contain;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Logo */
.icon-section .icon {
  width: 65px;
  height: 50px;
}

/* Links Section */
.links-section {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f4d03f;
}

/* Search */
.search-section .search-input {
  width: 400px;
  padding: 10px 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Cart and Favorites */
.cart-section {
  display: flex;
  align-items: center;
  gap: 15px;
}
.cart-modal {
  position: absolute;
  top: 60px;
  right: 20px;
  width: 300px;
  max-height: 320px;
  background: white;
  color: black;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1000;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.cart-item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 5px;
}

.cart-item span {
  font-size: 14px;
  font-weight: bold;
  flex-grow: 1;
  text-align: left;
}

.remove-button {
  background: #FF9900;
  color: white;
  border: none;
  padding: 7px 14px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
}

.cart-total {
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
  text-align: right;
}

.close-modal {
  font-weight: 600;
  background: #FF9900;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
}

.card-button > p {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.cart-icon {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 20px;
  height: 20px;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .search-section .search-input {
    width: 300px; /* Axtarış sahəsini kiçilt */
  }
}

@media (max-width: 768px) {
  .links-section {
    display: none; /* Linkləri gizlət */
  }

  .search-section .search-input {
    width: 250px; /* Daha çox kiçilt planşetlər üçün */
  }
}

@media (max-width: 480px) {
  .search-section .search-input {
    width: 150px; /* Mobil üçün daha da kiçik */
  }
}
