.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  background-image: url('https://i.pinimg.com/enabled_lo_mid/736x/db/b2/d1/dbb2d10b2d6d62f2e5005e365a04e2e9.jpg');
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Logo */
.icon-section .icon {
  width: 65px;
  height: 50px;
}

/* Links Section */
.links-section {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f4d03f;
}

/* Search */
.search-section .search-input {
  width: 400px;
  padding: 10px 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Cart and Favorites */
.cart-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.favorites-button, .cart-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites-icon, .cart-icon {
  width: 35px;
  height: 35px;

}

.favorites-button span {
  font-size: 14px;
  color: #fff;
  margin-top: 5px;
  display: flex;
}
