.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  background-image: url('../../../public/71d45f3f-ac95-405b-a76e-bbeafeac10af.jpeg');
  object-fit: contain;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Logo */
.icon-section .icon {
  width: 65px;
  height: 50px;
}

/* Links Section */
.links-section {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f4d03f;
}

/* Search */
.search-section .search-input {
  width: 400px;
  padding: 10px 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Cart and Favorites */
.cart-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.favorites-button, .cart-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites-button span {
  font-size: 14px;
  color: #fff;
  margin-top: 5px;
  display: flex;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .search-section .search-input {
    width: 300px; /* Axtarış sahəsini kiçilt */
  }
}

@media (max-width: 768px) {
  .links-section {
    display: none; /* Linkləri gizlət */
  }

  .search-section .search-input {
    width: 250px; /* Daha çox kiçilt planşetlər üçün */
  }
}

@media (max-width: 480px) {
  .search-section .search-input {
    width: 150px; /* Mobil üçün daha da kiçik */
  }
}
